{%extends 'base.html' %}
{% load static %}
{% block content %}
<section class="hero-section single_slider d-flex align-items-center ">
        <div class="container mt-0">
            <div class="row align-items-center">
                <!-- left content -->
                <div class="col-lg-6 hero-content">

                    <!-- badgee -->
                    <div class="hero-badge">
                        <span class=" bagde-icon">
                            &#127807;
                        </span>
                        <span class="badge-text">
                            Building a Greener Future
                        </span>
                    </div>
                    <!-- badgee end -->

                    <!-- heading -->
                    <h1 class="hero-title">
                        Smart Waste
                        <span>Management</span>
                        For Everyone
                    </h1>
                    <!-- heading end -->

                    <!-- description -->
                    <p class="hero-description">
                        HaritSena connects citizens, waste collectors, and recycling
                        partners through a smart platform that makes waste management
                        simple, rewarding, and environmentally responsible.
                    </p>
                    <!-- description end -->

                    <!-- buttons -->
                    <div class="hero-buttons">
                        <a href="#" class="btn btn-success hero-btn-primary">
                            Request Pickup
                        </a>

                        <a href="#" class="btn btn-outline-success hero-btn-secondary">
                            Learn More
                        </a>
                    </div>
                    <!-- buttons end-->

                    <!-- trust users -->
                    <div class="hero-users">
                        <div class="user-icons">
                            <div class="user-circle">&#127793;</div>
                            <div class="user-circle">&#9851;</div>
                            <div class="user-circle">&#127757;</div>
                        </div>

                        <div class="user-text">
                            Join citizens making waste management smarter every day.
                        </div>
                    </div>
                    <!-- trust users end-->

                </div>
                <!-- left content end -->

                <!-- Right content empty -->
                <div class="col-lg-6 hero-image">
                </div>
                <!-- Right content end -->
            </div>
        </div>
</section>
{% endblock  %}