{% extends "base.html" %}
{% load static %}
{% block content  %}

<!-- leaderboard -->
 <section class="leaderboard section">
    <div class="container">
        <div class="row align-items-center">
 
            <!-- left section -->
            <div class="col-lg-6 leaderboard-content">
                <h1 class="leaderboard-title">Harit <span>Leaderboard</span></h1>

                <div class="green-line"></div>

                <p class="leaderboard-description">
                    Responsible actions lead to a cleaner tomorrow.
                    <br>
                    Quality, consistency and community matter the most.
                </p>
                
                <div class="leaderboard-info-box">
                    <div class="leaderboard-info-icon">
                        <i class="bi bi-leaf"></i>

                        
                    </div>
                    <p class="leaderboard-info-text">
                        Rankings are based on 
                        <span>responsible waste management</span>, 
                        <br>
                        not just the amount of waste collected.</p>

                </div>
            </div>


            <div class="col-lg-6 leaderboard-image-section">
                <img src="{% static 'images/leaderboard-cups.jpeg' %}" alt="leeaderboard-trophys" class="img-fluid leaderboard-cups">
            </div> 
            
        </div>
    </div>

 </section>

 <!-- top changemkers -->
<section class="top-changemakers-section">
    <div class="container">
        <!-- filters -->
         <div class="leaderboard-filters">
            <!-- left filter button -->
            <div class="leaderboard-time-filters">
                <!-- filter button 1 -->
                <button class="leaderboard-filter-btn active">
                    <i class="bi bi-trophy"></i>
                    All Time
                </button>

                <!-- filter button 2 -->
                <button class="leaderboard-filter-btn">
                    <i class="bi bi-calendar3"></i>
                    This Month
                </button>

                <!-- filter button 3 -->
                <button class="leaderboard-filter-btn">
                    <i class="bi bi-calendar-week"></i>
                    This Week
                </button>
            </div>

            <!-- right selection button -->
            <div class="leaderboard-city-filter">
                <select>
                    <option >All Cities</option>
                    <option >Pune</option>
                    <option >Mumbai</option>
                    <option >Nashik</option>
                </select>
            </div>

         </div>

         <!-- heading -->
          <div class="top-changemakers-heading">
            <span>&#127811;</span>
            <h2>Top 3 Changemakers</h2>
            <span>&#127811;</span>
          </div>

          <!-- top 3 cards -->
           <div class="top-changemakers-cards">
                <!-- rank 2 -->
                
                <div class="top-user-card rank2">
                    <div class="rank-badge">
                        2
                    </div>
                    <div class="top-user-image">
                        <img src="{% static 'images/rank-2.jpeg' %}" alt="rank2">

                    </div>

                    <h3>Mohan Chorghade</h3>
                    <p class="top-user-location">
                        <i class="bi bi-geo-alt"></i>
                        Mumbai
                    </p>
                    <div class="green-score">
                        <h4>9,420 <i class="bi bi-leaf-fill"></i></h4>
                        <p>Green score</p>
                    </div>

                    <!-- stats -->
                     <div class="user-performance">
                        <div class="performance-item">
                            <span>Segregation <br>Quality</span>
                            <strong>96%</strong>
                            <small>Excellent</small>
                        </div>

                         <div class="performance-item">
                            <span>Consistency</span>
                            <strong>91%</strong>
                            <small>Excellent</small>
                        </div>

                         <div class="performance-item">
                            <span>Community <br>Contribution</span>
                            <strong>High</strong>
                            <small>Very Good</small>
                        </div>

                         <div class="performance-item">
                            <span>Waste  <br>Contribution</span>
                            <strong>35kg</strong>
                            <small>Good</small>
                        </div>

                     </div>
                </div>

                <!-- rank 1 -->
                <div class="top-user-card rank1">
                    <div class="rank-badge">
                        1
                    </div>
                    <div class="top-user-image">
                        <img src="{%static 'images/rank-1.jpeg'%}" alt="rank1">
                    </div>

                    <h3>Ashvini unawane</h3>
                    <p class="top-user-location">
                        <i class="bi bi-geo-alt"></i>
                        Pune
                    </p>

                    <div class="green-score">
                        <h4>9,850 <i class="bi bi-leaf-fill"></i></h4>
                        <p>Green Score</p>
                    </div>

                    <!-- /stats -->
                    <div class="user-performance">
                        <div class="performance-item">
                            <span>Segregation <br> Quality</span>
                            <strong>98%</strong>
                            <small>Excellent</small>
                        </div>

                        <div class="performance-item">
                            <span>Consistency</span>
                            <strong>90%</strong>
                            <small>Excellent</small>
                        </div>

                        <div class="performance-item">
                            <span>Community<br> Contribution</span>
                            <strong>High</strong>
                            <small>Outstanding</small>
                        </div>

                        <div class="performance-item">
                            <span>Waste<br>Contribution</span>
                            <strong>50kg</strong>
                            <small>Excellent</small>
                        </div>

                    </div>
                    
                </div>

                <!-- rank 3 -->
                 <div class="top-user-card rank3">
                    <div class="rank-badge">
                        3
                    </div>
                    <div class="top-user-image">
                        <img src="{% static 'images/rank-3.jpeg'%}" alt="rank3">
                    </div>
                    <h3>Jess Conte</h3>
                    <p class="top-user-location">
                        <i class="bi bi-geo-alt"></i>
                        Pune
                    </p>

                    <div class="green-score">
                        <h4>9,180 <i class="bi bi-leaf-fill"></i></h4>
                        <p>Green Score</p>
                    </div>

                    <!-- /stats -->
                    <div class="user-performance">
                        <div class="performance-item">
                            <span>Segregation <br> Quality</span>
                            <strong>94%</strong>
                            <small>Very Good</small>
                        </div>

                        <div class="performance-item">
                            <span>Consistency</span>
                            <strong>92%</strong>
                            <small>Excellent</small>
                        </div>

                        <div class="performance-item">
                            <span>Community<br> Contribution</span>
                            <strong>Medium</strong>
                            <small>Good</small>
                        </div>

                        <div class="performance-item">
                            <span>Waste<br>Contribution</span>
                            <strong>32kg</strong>
                            <small>Good</small>
                        </div>

                    </div>
                    
                </div>

           </div>


    </div>
</section>

<!-- leaderboard table section -->
 <section class="leaderboard-table-section">
    <div class="leaderboard-table-wrapper">
        <table class="leaderboard-table">
            <!-- table header -->
             <thead>
                <tr>
                    <th>
                        #
                    </th>
                    <th>
                        User
                    </th>
                    <th>
                        Segregation Quality <i class="bi bi-info-circle"></i>
                    </th>
                    
                    <th>
                        Consistency <i class="bi bi-info-circle"></i>
                    </th>
                    <th>
                        Community Contribution <i class="bi bi-info-circle"></i>
                    </th>
                    <th>
                        Waste Contribution <i class="bi bi-info-circle"></i>
                    </th>
                    <th>
                        Green Score <i class="bi bi-info-circle"></i>
                    </th>
                </tr>
             </thead>

             <!-- table body -->
              <tbody>
                <!-- user 4 -->
                 <tr>
                    <td  class="rank" >
                        4
                    </td>
                    <td >
                        <div class="user-info">
                            <div class="user-avatar">
                                <img src="{% static 'images/rank-1.jpeg' %}" alt="riya kothari">
                            </div>
                            <div>
                                <h4>Riya Kothari</h4>
                                <span>Nashik</span>
                            </div>
                        </div>
                    </td>
                     <td >
                        <div class="score-info">
                            <span class="score-icon green" >
                                <i class="bi bi-shield-check"></i>
                            </span>
                            <div>
                                <strong>92%</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="score-info">
                            <span class="score-icon green" >
                                <i class="bi bi-calendar3"></i>
                            </span>
                            <div>
                                <strong>88%</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>
                    <td><div class="score-info">
                            <span class="score-icon blue" >
                                <i class="bi bi-people"></i>
                            </span>
                            <div>
                                <strong>High</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="score-info">
                            <span class="score-icon orange" >
                                <i class="bi bi-trash"></i>
                            </span>
                            <div>
                                <strong>24kg</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>
                    <td class="green-score-table">
                        8,730
                    </td>
                 </tr>

                 <!-- User 5 -->
                <tr>

                    <td class="rank">5</td>

                    <td>
                        <div class="user-info">

                            <div class="user-avatar">
                                <img src="{% static 'images/rank-1.jpeg' %}"
                                     alt="Aman Shinde">
                            </div>

                            <div>
                                <h4>Aman Shinde</h4>
                                <span>Nashik</span>
                            </div>

                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-shield-check"></i>
                            </span>

                            <div>
                                <strong>90%</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-calendar3"></i>
                            </span>

                            <div>
                                <strong>86%</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon blue">
                                <i class="bi bi-people"></i>
                            </span>

                            <div>
                                <strong>Medium</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon orange">
                                <i class="bi bi-trash"></i>
                            </span>

                            <div>
                                <strong>40 kg</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>

                    <td class="green-score-table">
                        8,420
                    </td>

                </tr>


                <!-- User 6 -->
                <tr>

                    <td class="rank">6</td>

                    <td>
                        <div class="user-info">

                            <div class="user-avatar">
                                <img src="{% static 'images/rank-1.jpeg' %}"
                                     alt="Neha Raj">
                            </div>

                            <div>
                                <h4>Neha Raj</h4>
                                <span>Clean City</span>
                            </div>

                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-shield-check"></i>
                            </span>

                            <div>
                                <strong>89%</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-calendar3"></i>
                            </span>

                            <div>
                                <strong>90%</strong>
                                <small>Excellent</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon blue">
                                <i class="bi bi-people"></i>
                            </span>

                            <div>
                                <strong>High</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon orange">
                                <i class="bi bi-trash"></i>
                            </span>

                            <div>
                                <strong>26 kg</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td class="green-score-table">
                        8,250
                    </td>

                </tr>


                <!-- User 7 -->
                <tr>

                    <td class="rank">7</td>

                    <td>
                        <div class="user-info">

                            <div class="user-avatar">
                                <img src="{% static 'images/rank-1.jpeg' %}"
                                     alt="Vivek Kumar">
                            </div>

                            <div>
                                <h4>Vivek Kumar</h4>
                                <span>Eco City</span>
                            </div>

                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-shield-check"></i>
                            </span>

                            <div>
                                <strong>88%</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-calendar3"></i>
                            </span>

                            <div>
                                <strong>84%</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon blue">
                                <i class="bi bi-people"></i>
                            </span>

                            <div>
                                <strong>Medium</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon orange">
                                <i class="bi bi-trash"></i>
                            </span>

                            <div>
                                <strong>30 kg</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td class="green-score-table">
                        7,980
                    </td>

                </tr>


                <!-- User 8 -->
                <tr>

                    <td class="rank">8</td>

                    <td>
                        <div class="user-info">

                            <div class="user-avatar">
                                <img src="{% static 'images/rank-1.jpeg' %}"
                                     alt="Sneha Iyer">
                            </div>

                            <div>
                                <h4>Sneha Iyer</h4>
                                <span>Green City</span>
                            </div>

                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-shield-check"></i>
                            </span>

                            <div>
                                <strong>87%</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon green">
                                <i class="bi bi-calendar3"></i>
                            </span>

                            <div>
                                <strong>83%</strong>
                                <small>Very Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon blue">
                                <i class="bi bi-people"></i>
                            </span>

                            <div>
                                <strong>Medium</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td>
                        <div class="score-info">
                            <span class="score-icon orange">
                                <i class="bi bi-trash"></i>
                            </span>

                            <div>
                                <strong>22 kg</strong>
                                <small>Good</small>
                            </div>
                        </div>
                    </td>

                    <td class="green-score-table">
                        7,640
                    </td>

                </tr>
              </tbody>
        </table>
         
        <!-- view more -->
        <div class="view-more">
            <button type="button">
                View More
                <span><i class="bi bi-chevron-down"></i></span>

            </button>
        </div>
    </div>
 </section>

 <!-- current rank section  -->
  <section class="current-rank-section">
    <div class="current-rank-card">
        <!-- Your rank -->
         <div class="rank-user">
            <h3>Your Rank</h3>
            <div class="rank-user-content">
                <div class="rank-avatar">
                    <img src="{% static 'images/rank-1.jpeg' %}" alt="your profile">
                </div>
                <div class="rank-user-details">
                    <div class="rank-number">
                        #24
                    </div>
                    <div class="rank-title"><i class="bi bi-shield-check"></i>
                    Eco Warrior
                    </div>
                    <p>Keep going! You're doing great.</p>
                </div>

            </div>
         </div>

         <!-- Green Score -->
          <div class="rank-stat">
            <h4>
                Your Green Score
            </h4>
            <div class="green-score-value">
                5,680
                <i class="bi bi-leaf-fill"></i>
                
            </div>
            <span>Good</span>

          </div>

          <!-- segregation quality -->
          <div class="rank-stat">
            <h4>
                Segregation <br> Quality
            </h4>
            <i class="bi bi-shield-check stat-icon green"></i>
            <strong>85%</strong>
            <span>Good</span>

          </div>

          <!-- consistency-->
          <div class="rank-stat">
            <h4>
                Consistency
            </h4>
            <i class="bi bi-calendar3 stat-icon green"></i>
            <strong>80%</strong>
            <span>Good</span>

          </div>

          <!-- community contribution-->
          <div class="rank-stat">
            <h4>
                Community <br> Contribution
            </h4>
            <i class="bi bi-people stat-icon green"></i>
            <strong>Medium</strong>
            <span>Good</span>

          </div>

          <!-- waste conribution -->
          <div class="rank-stat">
            <h4>
                Waste <br> Contribution <small>(Monthly)</small>
            </h4>
            <i class="bi bi-trash stat-icon green"></i>
            <strong>18 kg</strong>
            <span>Average</span>

          </div>

          <!-- Next rank -->
          <div class="next-rank">
            <h3>
                Next Rank
            </h3>
            <div class="next-rank-number">
                #23
            </div>

            <p>
                You need 
            </p>

            <strong>420 more points</strong>
            
            

          </div>


    </div>
  </section>
 
{% endblock  %}
