<footer class="hs-footer">
    <div class="container">
        <div class="footer-content">
            <!-- footer brand -->
             <div class="footer-brand">
                <h3 class="footer-logo">
                    HaritSena
                </h3>
                <p>Clean Today, Green Tomorrow</p>

                <p class="footer-description">HaritSena is building a cleaner, greener and healthier
                    environment by connecting citizens, collectors and industries.</p>

                <div class="footer-social">
                    <a href="#"><i class="bi bi-facebook"></i></a>
                    <a href="#"><i class="bi bi-instagram"></i></a>
                    <a href="#"><i class="bi bi-twitter"></i></a>
                    <a href="#"><i class="bi bi-linkedin"></i></a>
                </div>

             </div>

             <!-- Quick Links -->
              <div class="footer-column">
                <h5>Quick Links</h5>

                <a href="{% url 'home'%}">Home</a>
                <a href="#">About Us</a>
                <a href="#">How It Works</a>
                <a href="#">Services</a>
                <a href="#">Rewards</a>
                <a href="#">Contact</a>
                
              </div>

              <!-- for users -->
            <div class="footer-column">
                <h5>For Users</h5>

                <a href="#">Login</a>
                <a href="#">Sign Up</a>
                <a href="#">Request Pickup</a>
                <a href="#">Track Request</a>
                <a href="#">Rewards</a>
            </div>

            <!-- for collector -->
            <div class="footer-column">
                <h5>For Collector</h5>

                <a href="#">Collector Login</a>
                <a href="#">Register as Collector</a>
                <a href="#">Collector Dashboard</a>
                <a href="#">Guidelines</a>
            </div>

            <!-- Contact -->
            <div class="footer-column footer-contact">
                <h5>Contact Us</h5>

                <p>
                    <i class="bi bi-geo-alt"></i>
                    2, Grey Building, Vishnunagar, Punawale, India - 411033
                </p>

                <p>
                    <i class="bi bi-telephone">
                        8669064559
                    </i>
                </p>

                <p>
                    <i class="bi bi-envelope"></i>
                    support@haritsena.com
                </p>
            </div>
        </div>

        <!-- Bottom -->
         <div class="footer-bottom">
            <p>
                © 2026 HaritSena. All Rights Reserved.
            </p>

            <div>
                <a href="#">Privacy Policy</a>
                <span>|</span>
                <a href="#">Terms & Conditions</a>
            </div>
         </div>
    </div>
</footer>